<p>rooms-list works!</p>
Rooms list
<!-- {{roomList}} -->
<table>
    <tr>
        <th>Room Number</th>
        <th>Even | Odd</th>
        <th>Room Type</th>
        <th>Price</th>
        <th>Amenities</th>
        <th>Checkin Time</th>
        <th>CheckOut Time</th>
        <th>Rating</th>
        <th>
            Select Room
        </th>
    </tr>
    <tr [ngClass]="e ? 'even' : 'odd'"
        *ngFor="let room of rooms | slice: 0:2; let e = even; let o = odd; let i = index">
        <td> {{ i | percent }}</td>
        <td> {{ e ? "even" : "odd"}}</td>
        <td>{{ room.roomNumber}}</td>
        <td>{{ room.roomType}}</td>
        <td>{{ room.checkoutTime | date:'short'}}</td>
        <td>{{ room.rating | number:'1.1-2' : 'en-us'}}</td>
        <td>
            <button (click)="selectRoom(room)">
                Select </button>
        </td>
    </tr>
</table>