/* You can add global styles to this file, and also import other style files */
.even {
    background-color: antiquewhite;
    color: rgb(199, 177, 51);
}
.odd {
    background-color: aquamarine;
    color: rgb(7, 7, 7);
}