/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.even {
    background-color: antiquewhite;
    color: rgb(199, 177, 51);
}
.odd {
    background-color: aquamarine;
    color: rgb(7, 7, 7);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
