<p>rooms works!</p>
<!-- <h1>Welcome to {{hotelName}}</h1> -->
<digiplus-app-header></digiplus-app-header>

<!-- Test multiple header components -->

<digiplus-app-header></digiplus-app-header>
<digiplus-app-header></digiplus-app-header>
<digiplus-app-header></digiplus-app-header>
<!-- {{rooms$ |async|json}} -->

<div [hidden]="hideRooms">
    Number of Room :
    <div [ngStyle]="{'color' : rooms.availableRooms ? 'green' :'red'}" [innerText]="numberOfRoom">
    </div>
    <!-- document.getElementByid('numberOfRoom').innerText = numberOfRoom; -->
</div>

{{ rooms?.availableRooms ?? "No Rooms" }}
<!--
<div *ngIf="rooms?.availableRooms > 0">
    Rooms list
</div>
-->
<div *ngIf="selectedRoom">
    {{ selectedRoom |json}}
</div>
<div>
    <button (click)="addRoom()">Add</button>
</div>
<h1>
    Number of rooms : {{roomCount$| async}} 
</h1>

<h1>
    {{getError$| async}}
</h1>
<div *ngIf="rooms.availableRooms > 0">
    
<!-- <div *ngIf="hideRooms"> -->
    <!-- <digiplus-app-rooms-list [rooms]="roomList" [title]="title" 
    (selectedRoom)="selectRoom($event)"></digiplus-app-rooms-list>
</div> -->
<div *ngIf="rooms$|async as rooms"></div>

<digiplus-app-rooms-list [rooms]="rooms" [title]="title" 
(selectedRoom)="selectRoom($event)"></digiplus-app-rooms-list>
</div>

<button (click)="toggle()">Toggle</button>
<button (click)="editRoom()">Edit</button>
<button (click)="deleteRoom()">Delete</button>
<h1>
    {{totalBytes}} loaded ...
</h1>