<p>rooms works!</p>
<h1>Welcome to {{hotelName}}</h1>
<div [hidden]="hideRooms">
    Number of Room :
    <div [ngStyle]="{'color' : rooms.availableRooms? 'green' :'red'}"
    [innerText]="numberOfRoom"></div>

    <!-- document.getElementByid('numberOfRoom').innerText = numberOfRoom; -->
</div>
<!-- {{ rooms?.availableRooms ?? No Rooms }}
<div *ngIf="rooms?.availableRooms > 0">
    Rooms list
</div>
-->
<div *ngIf="rooms.availableRooms > 0">
    Rooms list
    <!-- {{roomList}} -->
    <table>
        <tr>
            <th>Room Number</th>
            <th>Room Type</th>
            <th>Price</th>
            <th>Amenities</th>
            <th>Checkin Time</th>
            <th>CheckOut Time</th>
        </tr>
        <tr [ngClass]="e ? 'even' : 'odd'" 
        *ngFor="let room of roomList ; let e = even; let o = odd; let i = index">
            <!-- <td> {{ i }}</td> -->
            <!-- <td> {{ e ? "even" : "odd"}}</td> -->
            <td>{{ room.roomNumber}}</td>
            <td>{{ room.roomType}}</td>
            <td>{{ room.price}}</td>
            <td>{{ room.amenities}}</td>
            <td>{{ room.checkinTime}}</td>
            <td>{{ room.checkoutTime}}</td>

        </tr>
    </table>
</div>

<button (click)="toggle()">Toggle</button>